<!DOCTYPE html>
<html>
	<head>
		<title>Вы авторизованы</title>
	</head>
	<body>
		<h1>Ваше имя пользователя:</h1>
    <span>{{ login }}<span>
	</body>
	<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

		.container {
			padding: 16px;
		}

		@media screen and (max-width: 300px) {
			span.psw {
				display: block;
				float: none;
			}
			.cancelbtn {
				width: 100%;
			}
		}
	</style>
</html> 